<div class="rows full-wrapper" ng-controller="SearchController">
  <div id="left-column" class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Genres</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-md-8"></div>
</div>
