*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/*
/app/assets/images/album_art
/coverage/
/spec/tmp/*
/public/assets/*
**.orig
rerun.txt
pickle-email-*.html
.project
.*
!/.gitignore

# Ignore application configuration
/config/application.yml
