/*
**********************************************
Logo
**********************************************
*/

#logo-container h1{
    font-family: 'Open Sans', sans-serif;
    background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
    font-size: 78px;
    letter-spacing: 5px;
    text-shadow: 5px -5px black, 4px -4px white;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
}

#logo-container {
    background: white;
}

/*
**********************************************
Search UI
**********************************************
*/

.seperator {
    height: 2px;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0;
    background-image: radial-gradient(#000000, #F2F2F2), radial-gradient(#000000, #F2F2F2);
    background-position: 0, 100%, 0, 100%;
}

.full-wrapper {
    margin-bottom: 40px;
}

#left-column {
    padding-top: 80px;
    min-width: 240px;
}

.search-input-group {
    margin-top: 10px;
}

.search-input-group input {
}

.review-snippet {
    color: grey;
}

.search-result span.artist {
    text-decoration: underline;
}

.no-results-message {
    color: grey;
}

.search-wrapper {
    margin-bottom: 80px; /* the bottom margin is the negative value of the footer's height */
}

.footer {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #F2F2F2;
    min-height: 20px;
}

.panel-body {
    padding-top: 0;
}


/*
**********************************************
Modal Dialog
**********************************************
*/

.modal-body .facet-checkbox-list .checkbox:first-child {
    margin-top: -5px;
}

.modal-dialog {
    width: 1000px;
}

.modal-dialog .facet-checkbox-list {
    height: 400px;
    overflow: auto;
}

.facet-modal-body {
    padding-top: 10px;
    margin-top: 0px;
}

.facet-modal-body .row {
    margin-top: 10px;
}
